.main-container {
  background: var(--tertiary);
  height: 100vh;
  width: 100%;
}

.nav-friends {
  display: flex;
  align-items: center;
  height: 3rem;
  width: 100%;
  border-bottom: 1px solid var(--primary);
  padding-left: 0.625rem;
}

.nav-friends h2 {
  width: 6.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
  margin: 0.5rem 0;
  color: var(--primary-text);
  font-size: 0.9rem;
  border-right: 1px solid var(--tertiary-text);
}

.nav-friends ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-friends ul li {
  color: var(--secondary-text);
  font-weight: 600;
  margin: 0.5rem 1rem;
  font-size: 0.9rem;
}

.nav-friends ul li.active {
  background: var(--shadow-smooth);
  border-radius: 5px;
  color: var(--primary-text);
  margin: 0.25rem 0.5rem;
  padding: 0.25rem 0.5rem;
}

.nav-friends ul li:hover {
  background: var(--shadow-smooth);
  border-radius: 5px;
  color: var(--primary-text);
  margin: 0.25rem 0.5rem;
  padding: 0.25rem 0.5rem;
}

.nav-friends .add-friend {
  background-color: var(--secondary-button);
  padding: 0.25rem 0.5rem;
  border: 0;
  border-radius: 5px;
  color: var(--primary-text);
  margin-right: 1rem;
  font-weight: 600;
}

.nav-friends .interation-buttons {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}

.nav-friends .interation-buttons button {
  border: 0;
  background: transparent;
  color: var(--secondary-text);
  font-size: 1.25rem;
  padding: 0 0.5rem;
}

.nav-friends .interation-buttons button:hover {
  color: var(--primary-text);
}

.nav-friends .interation-buttons button:nth-child(1) {
  padding-right: 1rem;
  border-right: 1px solid var(--tertiary-text);
}

.nav-friends .interation-buttons button:nth-child(2) {
  padding-left: 1rem;
}

.main-container section:last-child {
  margin: 0 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.main-container #search {
  background: var(--primary);
  height: 2rem;
  border-radius: 5px;
  width: 100%;
  margin: 1rem 0;
  padding: 0.875rem;
  border: 0;
  color: var(--secondary-text);
}

.main-container .friends-status {
  text-transform: uppercase;
  color: var(--secondary-text);
  font-size: 0.7rem;
}